<div class="container mt-4">

    <div class="Descripcion">
            <h3>Sobre <span class="text-red">No</span>sotros</h3>
            <div class="container text-center py-3 mb-3 bg-dark border-radius-15">
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus gravida tortor et neque pharetra, at faucibus sapien ultricies. Proin eget rhoncus justo. Nulla facilisi. Suspendisse bibendum tellus sit amet lorem venenatis fermentum.</h6>
                <a class="btn btn-primary border-radius-15 text-white" href="#contact">Contáctanos</a>
            </div>
        </div>

</div>