<div class="Descripcion">
    <h3><span class="text-red">Con</span>táctanos</h3>
    <div class="container text-center py-3 mb-3 bg-dark border-radius-15">
         <p class=" text-left">Si tienes alguna pregunta, puedes contactarnos por medio de este formulario:</p>
        <form>
            <div class="mb-3 text-left">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Escribe tu nombre.">
            </div>
            <div class="mb-3 text-left">
                <label for="email" class="form-label">Correo</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
            </div>
            <div class="mb-3 text-left">
                <label for="message" class="form-label">Mensaje</label>
                <textarea class="form-control" id="message" rows="3" placeholder="Escribe tu mensaje."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

    </div>
</div>