<div class="container mt-4">

    <div class="" style="margin-bottom: 90px;">
        <img class="img-fluid w-100" src="img/icons/LogoRondo.png" alt="">
    </div>

    <div class="slider-frame ">
            <img src="img/bg/EP1.png" alt="">
    </div>

    <div class="Descripcion">
            <h3>Episodio 1: Leyenda de la <span class="text-red">Bru</span>ja Dorada</h3>
            <div class="container text-center py-3 mb-3 bg-dark border-radius-15">
                <h6>Bienvenidos a Rokkenjima.<br>La Bruja Dorada te da la más cálida bienvenida.<br>Antes que nada, por favor, siéntete como en casa.<br><br>No hay nada muy difícil en que pensar.<br>Guarda silencio y acepta completamente los eventos que sucederán.<br>Eso es todo lo que se te pide.<br><br>La dificultad es estándar.<br>¿Quieres tomar primero el camino fácil?</h6>
            </div>
        </div>

     <div class="Descripcion">
            <h3>Material <span class="text-red">re</span>levante</h3>
        </div>

    <div class="RondoChiru">
        <div class="contenedor">
            <a href="#EP1Videos">
                <figure>
                    <img src="img/bg/Musica.png" alt="Arco de respuestas">
                    <div class="titulo-ep">
                        <h3>Canciones  <span class="text-red">tra</span>ducidas</h3>
                    </div>
                    <div class="capa">
                        <h3>Canciones  <span class="text-red">tra</span>ducidas</h3>
                        <h6>Todas las canciones vocales<br> vistas en el Episodio 2,<br>traducidas al español.</h6>
                    </div>
                </figure>
            </a>
        </div>
    </div>

</div>