<div class="container mt-4">

    <div class="" style="margin-bottom: 90px;">
        <img class="img-fluid w-100" src="img/icons/LogoRondo.png" alt="">
    </div>

    <div class="slider-frame ">
            <img src="img/bg/EP2.png" alt="">
    </div>

    <div class="Descripcion">
            <h3>Episodio 2: Turno de la <span class="text-red">Bru</span>ja Dorada</h3>
            <div class="container text-center py-3 mb-3 bg-dark border-radius-15">
                <h6>Buenos días.<br>La Bruja Dorada te ha estado esperando impacientemente.<br>Por favor, acéptala como tu oponente.<br><br>En tu descanso, ¿lograste pensar cuidadosamente en tu próximo movimiento?<br>La Bruja espera grandes cosas de ti, y planea atacarte con todo desde el comienzo.<br>Yo también espero con ansias tu próximo movimiento.<br><br>La dificultad es alta.<br>La Bruja pretende hacer que te rindas en un instante.</h6>
            </div>
        </div>

     <div class="Descripcion">
            <h3>Material <span class="text-red">re</span>levante</h3>
        </div>

    <div class="RondoChiru">
        <div class="contenedor">
            <a href="#EP2Roja">
                <figure>
                    <img src="img/bg/Verdad roja.png" alt="Arco de preguntas">
                    <div class="titulo-ep">
                        <h3>Verdades  <span class="text-red">Rojas</span></h3>
                    </div>
                    <div class="capa">
                        <h3>Verdades  <span class="text-red">Rojas</span></h3>
                        <h6>Lista de las verdades rojas<br> vistas en el Episodio 2.</h6>
                    </div>
                </figure>
            </a>
        </div>
        <div class="contenedor">
            <a href="#EP2Videos">
                <figure>
                    <img src="img/bg/Musica.png" alt="Arco de respuestas">
                    <div class="titulo-ep">
                        <h3>Canciones  <span class="text-red">tra</span>ducidas</h3>
                    </div>
                    <div class="capa">
                        <h3>Canciones  <span class="text-red">tra</span>ducidas</h3>
                        <h6>Todas las canciones vocales<br> vistas en el Episodio 2,<br>traducidas al español.</h6>
                    </div>
                </figure>
            </a>
        </div>
    </div>

</div>