<div class="container mt-4">

    <div class="" style="margin-bottom: 90px;">
        <img class="img-fluid w-100" src="img/icons/LogoRondo.png" alt="">
    </div>

    <div class="slider-frame ">
            <img src="img/bg/EP2.png" alt="">
    </div>

    <div class="Descripcion">
            <h3>Verdades <span class="text-red">Ro</span>jas</h3>
            <div class="container text-center py-3 mb-3 bg-dark border-radius-15">
                <!-- Capítulo 11. Una Nueva Regla. -->
                <h6><span class="text-bold">Capítulo 11. Una Nueva Regla.</span><span class="text-italic">(Sobre los asesinatos de la capilla)</span><br><br>
                    "Eso es correcto. Así que de ahora en adelante, <span class="text-red">cuando diga la verdad, usaré el rojo.</span>"<br><br>
                    "¡<span class="text-red">Todo lo que diga en rojo es la verdad</span>! ¡No hay absolutamente ninguna necesidad de dudarlo!"<br><br>
                    "¡‘<span class="text-red">Sin importar si estaban vivos o muertos, los seis definitivamente entraron por la puerta</span>’!"<br><br>
                    "¡<span class="text-red">Solo existe una llave de la capilla</span>!"<br><br>
                    "¡¡<span class="text-red">Es imposible abrir la cerradura de la capilla con cualquier otra cosa que no sea la llave de la capilla</span>!!"<br><br>
                    "¡¡<span class="text-red">Cuando la puerta de la capilla está cerrada, previene cualquier método de entrada o salida</span>!!"<br><br>
                    "¡¡<span class="text-red">Los seis definitivamente entraron por<span class="text-italic text-red">esta puerta frontal</span></span>!!"<br><br>
                    "<span class="text-red">Esta mañana, Rosa definitivamente tomó un sobre del bolso de María, y de ese sobre obtuvo la auténtica llave de la capilla.</span>"<br><br>
                    "<span class="text-red">La llave de la capilla era verdaderamente el objeto que estaba adentro del sobre que le di a María.</span>"<br><br>
                    "¡¡<span class="text-red">El sobre que entregué a María ayer al mediodía y el sobre que Rosa abrió son los mismos</span>!!"</h6>

                <!-- Capítulo 12. Un sospechoso. -->
                <h6><span class="text-bold">Capítulo 12. Un sospechoso.</span><span class="text-italic">(Sobre la habitación de Jessica)</span><br><br>
                    "<span class="text-red">Las únicas llaves maestras que existen son las que tienen los sirvientes, una llave cada uno.</span>"<br><br>
                    "Muy bien. Primero, <span class="text-red">no hay absolutamente ningún tipo de puerta secreta. Esta puerta es la única forma de entrar o salir.</span>"<br>
                    "<span class="text-red">La única manera de cerrar esta puerta es con la única llave de Jessica o con las llaves maestras, de las cuales cada sirviente estaba en posesión de una.</span>"<br><br>
                    "Está en el segundo piso, pero probablemente sea posible entrar o salir por la ventana. Sin embargo, <span class="text-red">la ventana está cerrada por dentro.</span>"<br><br>
                    "<span class="text-red">Kanon fue asesinado en esta habitación.</span>"<br><br>
                    "Por supuesto, a esta puerta se le aplica lo mismo que a la de la capilla. <span class="text-red">Cuando está cerrada, no permite entrar o salir por ningún método.</span>"<br><br>
                    "Y diré más. <span class="text-red">Ningún truco podría tener el efecto de cerrar la puerta desde afuera sin usar una llave.</span>"

                    <!-- Capítulo 13. Puzle de Lobos y Ovejas. -->
                <h6><span class="text-bold">Capítulo 13. Puzle de Lobos y Ovejas.</span><br><br>
                    "*carcajada*carcajada*... ‘<span class="text-red">Kanon fue asesinado en esa habitación</span>’ ¿no fue así?"<br><br>
                    "En efecto. <span class="text-red">No hay puertas secretas en esta habitación. No hay otra forma de entrar o salir que la puerta y las ventanas.</span>"<br><br>
                    "<span class="text-red">No hay puertas secretas.</span> Es un hecho." <span class="text-italic">(Dicha por Battler)</span>
                    
                </h6>

                    <!-- Capítulo 14. Prueba Diabólica. -->
                <h6><span class="text-bold">Capítulo 14. Prueba Diabólica.</span><br><br>
                    "Mmm. Esas <span class="text-red">están en la caja de llaves en el centro de la habitación de los sirvientes.</span>"<br><br>
                    "Existen varias llaves de la habitación de los sirvientes, pero <span class="text-red">todas están dentro de la caja de llaves.</span>"<br><br>
                    "Y nada ha cambiado en las otras condiciones. <span class="text-red">Entrar y salir es imposibles salvo por la única puerta y la única ventana.</span>"<br><br>
                    "<span class="text-red">Y ambas estaban cerradas. La puerta y la ventana no permiten ningún tipo de entrada o salida cuando están cerradas.</span>"<br><br>
                    "Y obviamente, <span class="text-red">es imposible abrir la puerta sin la llave de la habitación de los sirvientes o una llave maestra.</span>"<br><br>
                    "<span class="text-red">No hay nadie más que ustedes en esta habitación.</span>"<br><br>
                    "<span class="text-red">‘Ustedes’ se refiere a Battler, George, María, Rosa, Genji, Gohda y Shannon.</span>"<br><br>
                    "Volvamos a la habitación de Jessica. <span class="text-red">En el momento del descubrimiento del cuerpo de Jessica, solo Battler, George, María, Rosa, Genji, Gohda, Shannon, Kumasawa y Nanjo estaban en la habitación de Jessica.</span>"<span class="text-italic">(Sobre la habitación de Jessica)</span><br><br>
                    "Ups, el cuerpo de <span class="text-red">Jessica también está incluido, por supuesto. Por lo que, tanto en el caso de la habitación de Jessica como en el caso de la habitación de los sirvientes, no existe ningún humano del que no tengas conocimiento.</span>"<span class="text-italic">(Sobre la habitación de Jessica)</span><br><br>
                    "<span class="text-red">Nadie se está escondiendo.</span>"<span class="text-italic">(Sobre la habitación de Jessica)</span><br><br>
                    "Y diré más. <span class="text-red">No existe ningún método por el cual las puertas puedan cerrarse desde el exterior sin utilizar una llave. En cuanto a las ventanas, no existe ningún método por el cual pudieran cerrarse desde el exterior.</span>"<br><br>
                    "<span class="text-red">Nadie se está escondiendo.</span>"<span class="text-italic">(Sobre la habitación de Jessica)</span><br><br>
                    "Y ya que estamos. ¡<span class="text-red">Eres un incompetente</span>!"<br><br>
                    
                </h6>
            </div>
    </div>

</div>