<div class="container mt-4">

    <div class="" style="margin-bottom: 90px;">
        <img class="img-fluid w-100" src="img/icons/LogoRondo.png" alt="">
    </div>

    <div class="slider-frame ">
            <img src="img/bg/EP3.png" alt="">
    </div>

    <div class="Descripcion">
            <h3>Verdades <span class="text-red">Ro</span>jas</h3>
            <div class="container text-center py-3 mb-3 bg-dark border-radius-15">
                <!-- Prólogo. -->
                <h6><span class="text-bold">Prólogo</span><br><br>
                    "<span class="text-red">De todas las puertas que existen en Rokkenjima, ninguna tiene una brecha por la que pueda caber una llave.</span>"<span class="text-italic">(Usada por Belfegor)</span>
                </h6>

                <!-- Capítulo 4. La Posibilidad de una 19.ª Persona. -->
                <h6><span class="text-bold">Capítulo 4. La Posibilidad de una 19.ª Persona.</span><br><br>
                    "¡¡¡<span class="text-red">Tengo el poder de decir la verdad en rojo</span>!!!"
                </h6>

                <!-- Capítulo 5 Rosa y la Bruja del Bosque. -->
                <h6><span class="text-bold">Capítulo 5 Rosa y la Bruja del Bosque.</span><br><br>
                    "<span class="text-red">Existe una mansión oculta llamada Kuwadorian en el bosque de Rokkenjima.</span>"<span class="text-italic">(Usada por Ronove)</span><br><br>
                    "En el pasado, <span class="text-red">ambos mantuvieron esa conversación en este lugar.</span>"<span class="text-italic">("Ambos" se refiere a Kinzo y la Beatrice humana)</span><br><br>
                    "<span class="text-red">Este es el mundo en 1967.</span>"<br><br>
                    "<span class="text-red">En 1967, Beatrice‐sama existió como una humana en una mansión oculta en Rokkenjima.</span>"<br><br>
                    "¿A ti qué de <span class="text-italic">eso</span> te parece estar vivo? ¡<span class="text-red">Ella definitivamente está muerta</span>!"<span class="text-italic">(Usada por Beatrice refiriéndose a su yo humana)</span><br><br>
                    "¡<span class="text-red">No hay más de 18 humanos en esta Rokkenjima</span>!"<span class="text-italic">(Rokkenjima de 1986)</span>
                </h6>

                <!-- Capítulo 9. Escaramuza. -->
                <h6><span class="text-bold">Capítulo 9. Escaramuza.</span><span class="text-italic">(Sobre la cadena de habitaciones cerradas)</span><br><br>
                    "... Hmph. Lo mismo que la vez anterior. <span class="text-red">Hay cinco, una por sirviente.</span>"<span class="text-italic">(Refiriéndose a las llaves maestras en este juego)</span><br><br>
                    "<span class="text-red">Además, todas las puertas y ventanas en las seis habitaciones son normales.<br> No existe ningún dispositivo que pueda cerrarlas sin una llave, como una cerradura automática.</span>"<span class="text-italic">(Las "seis habitaciones" se refieren al salón, la habitación de huéspedes del segundo piso, la habitación de descanso del tercer piso, la habitación VIP, la sala de calderas, y la capilla. En ese orden.)</span><br><br>
                    "¡<span class="text-red">Kinzo, Genji, Shannon, Kanon, Gohda, y Kumasawa están muertos</span>!"<br><br>
                    "¡<span class="text-red">No hay nadie escondiéndose en ninguna de las seis habitaciones</span>!"<br><br>
                    "¡<span class="text-red">Los seis murieron instantáneamente</span>!"<br><br>
                    "No obstante, Battler‐sama. <span class="text-red">Solo las víctimas están en el interior de las habitaciones, y ninguna otra persona existe dentro de las habitaciones.</span>"<span class="text-italic">(Usada por Ronove)</span><br><br>
                    "¡<span class="text-red">Los seis no fueron asesinados por trampas</span>!"<br><br>
                    "¡<span class="text-red">Ninguno de los seis se suicidó</span>!"
                </h6>

                <!-- Capítulo 10. La Llave de la Tierra Dorada. -->
                <h6><span class="text-bold">Capítulo 10. La Llave de la Tierra Dorada.</span><br><br>
                    "<span class="text-red">No hay más de 18 personas en esta isla.</span>"
                </h6>

                <!-- Capítulo 13. Anuncio de los Sacrificios. -->
                <h6><span class="text-bold">Capítulo 13. Anuncio de los Sacrificios.</span><span class="text-italic">(Sobre las muertes de Rosa y María)</span><br><br>
                    "<span class="text-red">Rosa y María murieron. Las causas de sus muertes son las que Nanjo diagnosticó</span>..."<span class="text-italic">(Puñalada en la médula oblonga con la punta de la verja del jardín de rosas y estrangulamiento a mano descubierta.)</span><br><br>
                    "<span class="text-red">Las muertes de Rosa y María fueron homicidios.</span>"<span class="text-italic">(Usada por Ronove)</span>
                </h6>

                <!-- Capítulo 17. El Juicio de la Bruja. -->
                <h6><span class="text-bold">Capítulo 17. El Juicio de la Bruja.</span><br><br>
                    <span class="text-italic">(Sobre el segundo crepúsculo)</span><br><br>
                    "<span class="text-red">Yo estuve en la habitación todo el tiempo. Antes y después de que suceda el crimen.</span>"<span class="text-italic">(Usada por Hideyoshi a petición de Eva-Beatrice. "Habitación" se refiere a la habitación del segundo piso de la casa de huéspedes en la que Eva había estado durmiendo.)</span><br><br><br>
                    <span class="text-italic">(Sobre el cuarto, quinto, y sexto crepúsculo.)</span><br><br>
                    "<span class="text-red">Kyrie no pensaba que la comida fuese necesaria.</span> Ya que estar sin comida durante un día no los mataría, <span class="text-red">ella dijo que no deberían salir de la casa de huéspedes.</span> Y aun así, ella misma... <span class="text-red">sugirió que salieran de la casa de huéspedes para conseguir comida...</span>"<br><br>
                    "¡Qué lástima, <span class="text-red">la razón por la que ella cambió de opinión no fue contada a nadie, ni fue escrita</span>!"<br><br>
                    "¿Por qué no te rindes ahora? Te acorralaré con más rojo todavía. ¡<span class="text-red">Hasta el último momento en el que ella murió, Kyrie mantuvo su patrón de pensamiento que dice ‘no deberíamos ir por comida a la mansión’</span>!"<br><br>
                    "¡<span class="text-red">Kyrie no dejó nada escrito</span>!"<br><br><br>
                    <span class="text-italic">(Sobre la muerte de Nanjo.)</span><br><br>
                    "<span class="text-red">Después de que Jessica fue herida, Eva estuvo todo el tiempo bajo la supervisión de Battler. Battler no es ni el culpable ni un cómplice. Con esto, podemos establecer una coartada perfecta para Eva.</span>"<br><br>
                    "<span class="text-red">No hay más de 18 humanos en esta isla.</span>"<br><br>
                    "<span class="text-red">Ninguna forma de vida aparte de los humanos tiene conexión con este juego.</span>"<br><br>
                    "Así que, habiendo aclarado eso, procederé a explicar el estado de las 18 personas que existen en esta isla:<br><span class="text-red">
                    Kinzo está muerto.<br>
                    Krauss está muerto.<br>
                    Natsuhi está muerta.<br>
                    Hideyoshi está muerto.<br>
                    George está muerto.<br>
                    Rudolf está muerto.<br>
                    Kyrie está muerta.<br>
                    Rosa está muerta.<br>
                    María está muerta.<br>
                    Genji está muerto.<br>
                    Shannon está muerta.<br>
                    Kanon está muerto.<br>
                    Gohda está muerto.<br>
                    Kumasawa está muerta.<br>
                    Nanjo está muerto.</span>"<br><br>
                    "Los 15 mencionados están muertos. Y...<br><span class="text-red">
                    Battler está vivo.<br>
                    Eva está viva.<br>
                    Jessica está viva.</span><br>
                    ¡Estas son las 18 personas!"<br><br>
                    "<span class="text-red">Eva ha estado contigo todo el tiempo. Así que cometer un crimen era imposible para ella.<br>Por supuesto, Battler-kun no es el culpable. Él no estaba falsificando una coartada para ella, y tuvo en cuenta la posibilidad de que ella fuese la culpable, y observaba sus acciones cuidadosamente.<br>¡No hubo ninguna oportunidad para que ella hiciese nada sospechoso!<br>En resumen, a la hora del crimen, solo Nanjo y Jessica estaban en la habitación de los sirvientes.</span>"<br><br>
                    "¡<span class="text-red">Ushiromiya Jessica no ha cometido ningún asesinato</span>!<br>¡¡<span class="text-red">Ella no estuvo involucrada con el asesinato de Nanjo</span>!! <span class="text-red">Sus ojos estaban completamente bloqueados.</span><br>¡<span class="text-red">Es imposible que ella llevara a cabo un asesinato como ese</span>!<br>Y aquí va un extra. ¡¡<span class="text-red">Ni Eva ni Battler mataron a Nanjo, ni estuvieron involucrados</span>!!"<br><br>
                    "¡¡<span class="text-red">El culpable que mató a Nanjo no era ni Battler ni Eva ni Jessica</span>!!"<br><br>
                    "Idiota. Ya te lo dije en rojo. ¡<span class="text-red">Los ojos de Jessica estaban completamente bloqueados, y era imposible para ella cometer un asesinato</span>!"<br><br>
                    "¡<span class="text-red">Ninguna acción causada por el cuerpo de Jessica tuvo relación o influencia sobre el asesinato de Nanjo</span>!<br><span class="text-red">Esto también se aplica a Battler y a Eva.</span><br>En otras palabras, sin importar cuánto se intente luchar para interpretarlo, ¡<span class="text-red">ni Jessica, ni Battler, ni Eva son el culpable que mató a Nanjo</span>!"<br><br>
                    "<span class="text-red">La muerte de Nanjo fue un homicidio...<br>Por supuesto, ocurrió con un método directo de asesinato, no una trampa.</span><br>¡<span class="text-red">Un arma fue preparada, y lo asesinaron directamente de frente a quemarropa</span>!<br>¡¡<span class="text-red">El culpable apareció abiertamente ante los ojos de Nanjo, y mientras se veían mutuamente, el culpable lo mató</span>!!"<br><br>
                    "¡¡¡<span class="text-red">El rojo solo dice la verdad</span>!!!"<br><br>
                    "¡¡<span class="text-red">Absolutamente ningún otro factor aparte del humano puede participar en este tablero de juego</span>!!"<span class="text-italic">(En respuesta a la sugerencia de que un animal o robot hubiesen podido estar involucrados.)</span><br><br>
                    "¡<span class="text-red">Aquel que mató a Nanjo definitivamente era humano</span>! ¡<span class="text-red">Un humano, con sus pies en el suelo, sostuvo un arma y lo mató</span>! ¡<span class="text-red">Justo en frente de sus ojos</span>! Sin embargo, el humano pudo haber usado magia... Lo que significa, que era una bruja... Esa, en otras palabras, era yo. ¡¡La Bruja Dorada, Beatrice!!"
                </h6>

            </div>
    </div>

</div>