<div class="container mt-4">

    <div class="" style="margin-bottom: 90px;">
        <img class="img-fluid w-100" src="img/icons/LogoRondo.png" alt="">
    </div>

    <div class="slider-frame ">
            <img src="img/bg/EP4.png" alt="">
    </div>

    <div class="Descripcion">
            <h3>Canciones  <span class="text-red">tra</span>ducidas</h3>
            <div class="container text-center py-3 mb-3 bg-dark border-radius-15">
                 <h6><span class="text-bold">Episodio 4 Opening: Capilla del Juramento Resonante</span><br>

                <div class="reproductor">
                    <video id="mi_video">
                        <source src="videos/EP2_OP.mp4" type="video/mp4">
                    </video>
                    <!-- Div que va a contener nuestros controles personalizados -->
                    <div id="controles">
                        <button id="btnplaypause"></button>
                        <input id="navbar" type="range" min="0" max="100" value="0" step="1">
                        <span id="tiempoactual">00:00</span>   /    <span id="duracion">00:00</span>
                        <button id="mutebtn"></button>
                        <input id="volumenbar" type="range" min="0" max="100" value="100" step="1">
                        <button id="pantcompl"> </button>
                    </div>
                </div>


            </div>
    </div>
    
</div>