<div class="jumbotron">

    <div class="" style="margin-bottom: 90px; margin-top: 20px; align-items: center;">
        <img class="img-fluid w-100" src="img/icons/LogoGeneral2.png" alt="">
    </div>

    <div class="RondoChiru">
        <div class="contenedor">
            <a href="#preguntas">
                <figure>
                    <img src="img/bg/Rondo.png" alt="Arco de preguntas">
                    <div class="titulo">
                        <h3>Arco  <span class="text-red">de</span> Preguntas</h3>
                    </div>
                    <div class="capa">
                        <h3>Rondó de la <span class="text-red">Bruja</span> y<br> el Razonamiento</h3>
                        <h6>Primera mitad de la serie<br> Umineko No Naku Koro Ni,<br> contiene los episodios 1 al 4<br> de la historia.</h6>
                    </div>
                </figure>
            </a>
        </div>
        <div class="contenedor">
            <a href="#respuestas">
                <figure>
                    <img src="img/bg/Chiru.png" alt="Arco de respuestas">
                    <div class="titulo">
                        <h3>Arco  <span class="text-red">de</span> Respuestas</h3>
                    </div>
                    <div class="capa">
                        <h3>Nocturno de la <span class="text-red">Verdad</span><br>y las Ilusiones</h3>
                        <h6>Segunda mitad de la serie<br> Umineko No Naku Koro Ni,<br> contiene los episodios 5 al 8<br> de la historia.</h6>
                    </div>
                </figure>
            </a>
        </div>
    </div>


        <div class="Descripcion">
            <h3>¿Qué es Umineko No <span class="text-red">Na</span>ku Koro Ni?</h3>
            <div class="container text-center py-3 mb-3 bg-dark border-radius-15">
                <h6>Umineko no <span class="text-red">Na</span>ku Koro ni es una serie de novelas visuales japonesas producida por 07th Expansion.<br><br> La historia cuenta sobre un grupo de 18 personas que quedan atrapadas en una isla, y los misteriosos y macabros sucesos en torno a ella. El propósito del lector será revelar la naturaleza del causante, si es humano o si proviene de la entidad sobrenatural que, según cuentan las leyendas, habita en esa isla. <br><br>Umineko no <span class="text-red">Na</span>ku Koro ni es la tercera y cuarta entrega de la serie "When They Cry", la cual también es integrada por Higurashi no <span class="text-red">Na</span>ku Koro ni y Higurashi no <span class="text-red">Na</span>ku Koro ni Kai, como primera y segunda entrega; y Ciconia no <span class="text-red">Na</span>ku Koro ni, como quinta entrega de la serie.</h6>
            </div>
        </div>

</div>