
<div class="container mt-4">
    <div class="" style="margin-bottom: 90px;">
        <img class="img-fluid w-100" src="img/icons/LogoRondo.png" alt="">
    </div>

    <div class="slider-frame">
        <ul>
            <li><a href="#EP1"><div class="contenedor-slider"><figure><img id="slide1" src="img/bg/EP1.png" alt=""><div class="capa"></div></figure></div></a></li>
            <li><a href="#EP2"><div class="contenedor-slider"><figure><img id="slide2" src="img/bg/EP2.png" alt=""><div class="capa"></div></figure></div></a></li>
            <li><a href="#EP3"><div class="contenedor-slider"><figure><img id="slide3" src="img/bg/EP3.png" alt=""><div class="capa"></div></figure></div></a></li>
            <li><a href="#proxima"><div class="contenedor-slider"><figure><img id="slide4" src="img/bg/EP4.png" alt=""><div class="capa"></div></figure></div></a></li>
        </ul>
    </div>

    </div>
    
        <div class="Descripcion">
            <h3>Rondó de la Bruja y el <span class="text-red">Ra</span>zonamiento</h3>
            <div class="container text-center py-3 mb-3 bg-dark border-radius-15">
                <h6>Umineko no Naku Koro ni ~Rondó de la Bruja y el Razonamiento~ es la serie de juegos que contienen los primeros cuatro episodios de la historia, y es considerado como el "arco de preguntas".<br><br> Su objetivo es dar al jugador una impresión general sobre los eventos de la isla y plantear los misterios que tendrán que ser resueltos posteriormente.</h6>
                
                <h6 style="text-align: center">Se divide en:<br> Episodio 1 - Leyenda de la Bruja Dorada<br> Episodio 2 - Turno de la Bruja Dorada<br> Episodio 3 - Banquete de la Bruja Dorada<br> Episodio 4 - Alianza de la Bruja Dorada</h6>
            </div>
        </div>
</div>
