
<div class="container mt-4">
    <div class="" style="margin-bottom: 90px;">
        <img class="img-fluid w-100" src="img/icons/LogoChiru.png" alt="">
    </div>

    <div class="slider-frame">
        <ul>
            <li><a href="#proxima"><div class="contenedor-slider"><figure><img src="img/bg/EP5.png" alt=""><div class="capa"></div></figure></div></a></li>
            <li><a href="#proxima"><div class="contenedor-slider"><figure><img src="img/bg/EP6.png" alt=""><div class="capa"></div></figure></div></a></li>
            <li><a href="#proxima"><div class="contenedor-slider"><figure><img src="img/bg/EP7.png" alt=""><div class="capa"></div></figure></div></a></li>
            <li><a href="#proxima"><div class="contenedor-slider"><figure><img src="img/bg/EP8.png" alt=""><div class="capa"></div></figure></div></a></li>
        </ul>
    </div>

    </div>
    
        <div class="Descripcion">
            <h3>Nocturno de la Verdad y las <span class="text-red">Ilu</span>siones</h3>
            <div class="container text-center py-3 mb-3 bg-dark border-radius-15">
                <h6>Umineko no Naku Koro ni Chiru ~Nocturno de la Verdad y las Ilusiones~ es el nombre de la serie de novelas que vienen tras los arcos de pregunta, y cuenta la segunda mitad de la historia, donde se empieza a indagar en el corazón del misterios.<br><br>Estos no son simples soluciones a los cuatro episodios anteriores, sino que continúan la historia, revelando pistas importantes para la resolución de los misterios. </h6>
                
                <h6 style="text-align: center">Se divide en:<br> Episodio 5 - Fin de la Bruja Dorada<br> Episodio 6 - Amanecer de la Bruja Dorada<br> Episodio 7 - Réquiem de la Bruja Dorada<br> Episodio 8 - Crepúsculo de la Bruja Dorada</h6>
            </div>
        </div>
</div>
